*,
::before,
::after,
*::before,
*::after {
  box-sizing: border-box;
}

body #loading{
  position: fixed ;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #efd68c;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}
.header .head {
  position: relative;
  z-index: 1;
}
.header .head .head-circle {
  position: relative;
  background-color: #da2d29;
  width: 145px;
  height: 200px;
  border-radius: 50% 50% 50% 50%/40% 40% 60% 60%;
  z-index: 1;
}
.header .head .head-circle::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 20px;
  background-color: #a12d32;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.header .head .eyes {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .head .eyes .eye {
  position: relative;
  background-color: #383a3c;
  width: 50px;
  height: 90px;
  border-radius: 100% 10px 20px 20px/100% 10px 20px 15px;
  top: 50px;
  left: 0px;
  transform: rotate(-25deg);
}
.header .head .eyes .eye::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 10px;
  background-color: #fff;
  bottom: 20px;
  left: 10px;
  transform: perspective(30px) rotateY(25deg) skewY(35deg) translateZ(15px) scale(0.7) rotateZ(-10deg);
  animation: close-eyes .25s .25s linear infinite alternate;
}
.header .head .eyes .eye-right {
  transform: scale(-1, 1) rotate(-25deg);
}
.header .head .neck {
  top: -48px;
  position: relative;
  background-color: #a12d32;
  width: 70%;
  height: 75px;
  margin: 0 auto;
}
.header .head .neck::after, .header .head .neck::before {
  content: "";
  position: absolute;
  border-top: 50px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #a12d32;
  border-left: 10px solid transparent;
}
.header .head .neck::before {
  left: -20px;
}
.header .head .neck::after {
  right: -20px;
  transform: scale(-1, 1);
}
.header .head .neck-line {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11px;
  background-color: #383a3c;
}
.header .head .neck-line::after, .header .head .neck-line::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 13px;
  background-color: #383a3c;
  bottom: 6px;
}
.header .head .neck-line::before {
  left: -12px;
  transform: rotateZ(11deg) skewY(31deg);
}
.header .head .neck-line::after {
  right: -12px;
  transform: rotateZ(-11deg) skewY(-31deg);
}
.header .head .neck-fix {
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: #da2d29;
  transform: rotate(42deg);
  bottom: 2px;
  left: -16px;
}
.header .head .neck-fix.alt {
  transform: rotate(-42deg) translate(82px, 73px);
  z-index: 1;
}
.header .head + .katana-container {
  transform: scale(-1, 1);
}
.header .katana-container {
  position: relative;
  width: 80px;
  height: 200px;
}
.header .katana-container::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 40px;
  transform: rotate(-35deg);
  right: -36px;
  bottom: -34px;
  background-color: #5e3a3e;
}
.header .katana-container .katana {
  position: absolute;
  right: 40px;
  bottom: -6px;
  width: 16px;
  height: 150px;
  background-color: #383a3c;
  transform: rotate(-35deg);
}
.header .katana-container .katana::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 6px;
  background-color: #626163;
  left: -1px;
}
.header .katana-container .katana::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #626163;
  left: 3px;
  top: 25px;
  transform: rotate(45deg);
  box-shadow: 25px 25px #626163, 50px 50px #626163, 75px 75px #626163;
}

.chest {
  position: relative;
  display: flex;
  justify-content: center;
}
.chest .chest-fix {
  position: absolute;
  width: 350px;
}
.chest .chest-fix::before, .chest .chest-fix::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 20px;
  background-color: #efd68c;
  top: -69px;
  z-index: 1;
}
.chest .chest-fix::before {
  left: -11px;
  transform: rotate(-45deg);
}
.chest .chest-fix::after {
  right: -11px;
  transform: rotate(45deg);
}
.chest .chest-mid {
  position: relative;
  top: -61px;
  width: 350px;
  height: 235px;
  overflow: hidden;
}
.chest .inner-mid {
  width: 350px;
  height: 350px;
  background-color: #da2d29;
  position: relative;
  transform: rotate(45deg);
  top: -188px;
  overflow: hidden;
}
.chest .chest-side {
  background-color: #383a3c;
  width: 230px;
  height: 70px;
  position: relative;
}
.chest .chest-side.left {
  bottom: -280px;
  right: -60px;
}
.chest .chest-side.right {
  bottom: -70px;
  left: 200px;
  transform: rotate(90deg) scaleY(-1);
}
.chest .black-shapes {
  position: absolute;
  background-color: #da2d29;
}
.chest .black-shapes:nth-child(1) {
  width: 40px;
  height: 25px;
  left: 70px;
  top: -15px;
  transform: rotate(-29deg) skewX(30deg);
}
.chest .black-shapes:nth-child(2) {
  width: 50px;
  height: 30px;
  left: 119px;
  top: -16px;
  transform: rotate(-29deg) skewX(30deg);
}
.chest .black-shapes:nth-child(3) {
  width: 55px;
  height: 25px;
  left: 170px;
  top: -17px;
  transform: rotate(-35deg);
}
.chest .black-shapes:nth-child(4) {
  width: 65px;
  height: 35px;
  right: -20px;
  top: 32px;
  transform: rotate(-35deg) skewX(30deg);
}
.chest .black-shapes:nth-child(5) {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  right: -10px;
  top: -6px;
  transform: rotate(-35deg);
}
.chest .black-shapes:nth-child(6) {
  background-color: #383a3c;
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  right: -30px;
  bottom: -7px;
  transform: rotate(-35deg);
}

@keyframes close-eyes {
  80% {
    height: 0px;
    background-color: #383a3c;
  }
  81%, 100% {
    background-color: #fff;
    height: 8px;
  }
}